# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Vite / Preact
.env.local
.env.*.local
.eslintcache

# Rust / WASM
target/
Cargo.lock
**/*.rs.bk

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Misc
Thumbs.db
/Notes